<navbar class='ui blue stackable menu'>
  <a class='header item'>Ambilamp</a>
  <a class='item' id='nav_home' href='/'>Home</a>
  <a class='item' id='nav_details' href='/details'>Details</a>
</navbar>
